language: python

python:
  - "2.7"

sudo: false
cache:
  apt: true
  directories:
    - $HOME/.cache/pip

virtualenv:
  system_site_packages: true

addons:
  apt:
    sources:
      - pov-wkhtmltopdf
    packages:
      - expect-dev
      - python-lxml
      - python-simplejson
      - python-yaml
      - wkhtmltopdf
      - poppler-utils
      - antiword
      - python-beautifulsoup
      - python-tz
      - libgnutls26

# set up an X server to run wkhtmltopdf.
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

env:
  global:
  - TEST_OTHER_PROJECTS=${HOME}/addons-vauxoo LINT_CHECK=0 TESTS="0" VERSION="8.0" ODOO_REPO="vauxoo/odoo"

  matrix:
  - LINT_CHECK=1
  - TESTS="1"

install:
  - git clone --single-branch --depth=1 https://github.com/Vauxoo/maintainer-quality-tools.git -b master ${HOME}/maintainer-quality-tools
  - git clone --single-branch --depth=1 https://github.com/Vauxoo/addons-vauxoo.git -b ${VERSION} ${HOME}/addons-vauxoo
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly
  - pip install beautifulsoup4

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
